name: Telegram TCDD Bot

on:
  schedule:
    - cron: "*/5 * * * *"   # Her 5 dakikada bir çalışır
  workflow_dispatch:          # Manuel Run seçeneği

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install requests
      - run: python bot.py
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
